/m4
/autom4te.cache
Makefile
Makefile.in
/aclocal.m4
/config.guess
/config.log
/config.status
/config.sub
/configure
/src/.deps
/src/.libs
/src/*.la
/src/*.lo
/src/*.o
/depcomp
/install-sh
/libtool
/ltmain.sh
/pets2.pc
/missing
/debian/metlibs-pets2-dev.debhelper.log
/debian/metlibs-pets2-dev.substvars
/debian/metlibs-pets2-dev
/debian/files
