Source: metlibs-tseries-pets2
Priority: optional
Maintainer: Alexander Bürger <alexander.buerger@met.no>
Build-Depends:  debhelper (>= 9),
 autoconf (>=2.61), automake (>= 1.11), libtool (>= 1.5),
 metlibs-putools-dev (>= 5.0.4),
 metlibs-tsdata-dev (>= 5.2.0),
 libqt4-dev, pkg-config
Standards-Version: 3.9.2
Section: libs

Package: metlibs-pets2-dev
Section: libdevel
Architecture: any
Depends: metlibs-putools-dev (>= 5.0.4),
 metlibs-tsdata-dev (>= 5.2.0-2),
 libqt4-dev, pkg-config, ${misc:Depends}
Description: MET Norway time series plotting
 metlibs pets2 -- MET Norway time series plotting library
