Source: metlibs-tseries-pets2
Priority: optional
Maintainer: Alexander Bürger <alexander.buerger@met.no>
Build-Depends:  debhelper (>= 9),
 cmake,
 metlibs-putools-dev (>= 7.0.0),
 metlibs-tsdata-core-dev (>= 6.0.1),
 libboost-dev,
 qtbase5-dev, qtbase5-dev-tools, qttools5-dev-tools,
 pkg-config
Standards-Version: 3.9.2
Section: libs

Package: metlibs-pets2-qt5-dev
Section: libdevel
Architecture: any
Depends: libmetlibs-pets2-qt5-7 (= ${binary:Version}),
 metlibs-putools-dev (>= 6.0.0),
 metlibs-tsdata-core-dev (>= 6.0.0),
 qtbase5-dev,
 ${misc:Depends}
Breaks: metlibs-pets2-dev (<< 7.0.0)
Replaces: metlibs-pets2-dev (<< 7.0.0)
Conflicts: metlibs-pets2-dev
Description: MET Norway time series plotting
 MET Norway time series plotting library.
 .
 This package provides the development files.

Package: libmetlibs-pets2-qt5-7
Section: libs
Architecture: any
Depends: ${shlibs:Depends},
 ${misc:Depends}
Description: MET Norway time series plotting
 MET Norway time series plotting library.
 .
 This package provides the shared library.

Package: libmetlibs-pets2-qt5-7-dbg
Section: debug
Priority: extra
Architecture: any
Depends: libm${shlibs:Depends},
 ${misc:Depends}
Description: MET Norway time series plotting
 MET Norway time series plotting library.
 .
 This package provides the shared library.
